# Assignment 6

In [65]:
import pandas as pd

### Home Exercises for Netflix

In [66]:
path = '/Users/emreozener/Documents/ESADE_MIBA/Python_for_Data_Science/Assignments/Assignment_6/Files/netflix_titles.csv' #writing the full pathname
df = pd.read_csv(path) #read csv

 #### 1. Is there any missing rating?

In [67]:

missing_rating = df["rating"].isna().sum() #sum of na values in rating column
if missing_rating == 0: #if there is not missing rating, inform the user
    print("No Missing rating")
else:
    print(f"Number of Missing rating: {missing_rating}") #else, print the number

Number of Missing rating: 4

#### 2. How many films in 2021 correspond to your country?

In [68]:
turkey_2021 = df[(df["country"] == "Turkey") & (df["release_year"] == 2021)] #filtering the table based on the country turkey and year 2021
turkey_2021

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
703,s704,TV Show,The Gift,NaN,"Beren Saat, Mehmet Günsür, Metin Akdülger, Mel...",Turkey,"June 17, 2021",2021,TV-MA,3 Seasons,"International TV Shows, TV Dramas, TV Mysteries",A painter in Istanbul embarks on a personal jo...
972,s973,TV Show,Fatma,NaN,"Burcu Biricik, Uğur Yücel, Mehmet Yılmaz Ak, H...",Turkey,"April 27, 2021",2021,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Thrillers","Reeling from tragedy, a nondescript house clea..."
1212,s1213,Movie,Paper Lives,Can Ulkay,"Çağatay Ulusoy, Emir Ali Doğrul, Ersin Arıcı, ...",Turkey,"March 12, 2021",2021,TV-MA,97 min,"Dramas, International Movies","In the streets of Istanbul, ailing waste wareh..."
1373,s1374,TV Show,50M2,NaN,"Engin Öztürk, Kürşat Alnıaçık, Cengiz Bozkurt,...",Turkey,"January 27, 2021",2021,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Thrillers","Seeking to uncover the truth about his past, a..."
1431,s1432,Movie,Stuck Apart,NaN,"Engin Günaydın, Haluk Bilginer, Binnur Kaya, Ö...",Turkey,"January 8, 2021",2021,TV-MA,97 min,"Comedies, Dramas, International Movies","Entrenched in a midlife crisis, Aziz seeks sol..."

In [69]:
if len(turkey_2021) == 0: #if the number is 0, inform the user
    print("There is no Turkish film in 2021")
else:
    print(f"Number of Turkish films in 2021: {len(turkey_2021)}") #else give the number

Number of Turkish films in 2021: 5

In [70]:
titles_turkey_2021 = turkey_2021["title"].tolist() #put the titles into a new variable in the list format
for title in titles_turkey_2021:
    print(title) # print each title

The Gift
Fatma
Paper Lives
50M2
Stuck Apart

#### 3. What's the number of movies in 2020 with full information?

In [71]:
print(f"Number of movies with full information in 2020: {len(df[df['release_year'] == 2020].dropna())}") #with dropna, we take out the rows with na value

Number of movies with full information in 2020: 442

#### 4. Give me the year with more titles,

In [72]:
most_titles_year = df.groupby('release_year')['title'].count().idxmax() #grouped by release yar, took the column "title" with count function and idxmax is used in order to return the maximum index
print(f"The year with the most titles is {most_titles_year} with {df.groupby('release_year')['title'].count().max()} titles.") #print the index from the previous variable and the use max() to find the value corresponding to the year.

The year with the most titles is 2018 with 1147 titles.

#### 5. and what has been the average in terms of releases from 2010.

In [73]:
titles_per_year = df[df["release_year"] >= 2010].groupby('release_year')['title'].count() #group by movies by release year which were out from 2010 and count the titles
average_titles = titles_per_year.mean() #calculate the mean 
print(f"The average number of releases per year from 2010 is {average_titles:.2f} titles.")

The average number of releases per year from 2010 is 622.67 titles.

### Home Exercises for Titanic

In [74]:
path = '/Users/emreozener/Documents/ESADE_MIBA/Python_for_Data_Science/Assignments/Assignment_6/Files/train_and_test2.csv'
df_titanic = pd.read_csv(path) #read the Titanic csv using pandas.

#### 1. Calculate Gender-Based Survival Percentage

In [75]:
gender_survival_percentage = df_titanic.groupby('Sex')['2urvived'].mean() * 100 #group by gender and calculate the mean of survival which would correspond to the survival percentage

for gender, percent in gender_survival_percentage.items(): #for each row and column print the values
    print(f"Gender {gender}: {percent:.2f}% survival rate")

Gender 0: 12.93% survival rate
Gender 1: 50.00% survival rate

 #### 2. Calculate Survival Percentage Grouped By Gender And Class

In [76]:
grouped_survival_percentage = df_titanic.groupby(['Sex', 'Pclass'])['2urvived'].mean() * 100 #group by both gender and class and repeat the previous question. 

for (gender, pclass) ,percent in grouped_survival_percentage.items():
    print(f"Gender {gender} that are in class {pclass} has a percentage of {percent:.2f}% survival rate")

Gender 0 that are in class 1 has a percentage of 25.14% survival rate
Gender 0 that are in class 2 has a percentage of 9.94% survival rate
Gender 0 that are in class 3 has a percentage of 9.53% survival rate
Gender 1 that are in class 1 has a percentage of 63.19% survival rate
Gender 1 that are in class 2 has a percentage of 66.04% survival rate
Gender 1 that are in class 3 has a percentage of 33.33% survival rate

In [79]:
grouped_survival_percentage

Sex  Pclass
0    1         25.139665
     2          9.941520
     3          9.533469
1    1         63.194444
     2         66.037736
     3         33.333333
Name: 2urvived, dtype: float64